## Machine Hack Buyer's Time Prediction - Feature Engineering

Buyers spend a significant amount of time surfing an e-commerce store, since the pandemic the e-commerce has seen a boom in the number of users across the domains. In the meantime, the store owners are also planning to attract customers using various algorithms to leverage customer behavior patterns.

Tracking customer activity is also a great way of understanding customer behavior and figuring out what can actually be done to serve them better. Machine learning and AI has already played a significant role in designing various recommendation engines to lure customers by predicting their buying patterns.

We are provided with the visitor's session data and are required to create a regression algorithm to predict the time a buyer will spend on the platform.

### Attribute Description
- `session_id`: Unique identifier for every row
- `session_number`: Session type identifier
- `client_agent`: Client-side software details
- `device_details`: Client-side device details
- `date`: Datestamp of the session
- `purchased`: Binary value for any purchase done
- `added_in_cart`: Binary value for cart activity
- `checked_out`:  Binary value for checking out successfully
- `time_spent`: Total time spent in seconds (Target Column)

Here the analysis will be focused on creating features, particularly (and most importantly) based on `client_agent` feature.

In [4]:
import os
for dirname, _, filenames in os.walk('ParticipantData_BTPC/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

ParticipantData_BTPC/.DS_Store
ParticipantData_BTPC/Sample Submission.csv
ParticipantData_BTPC/Test.csv
ParticipantData_BTPC/Train.csv

### Import Packages

In [5]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np, pandas as pd, re, requests
from sklearn import preprocessing

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

### Read data

In [6]:
## Read train and test data

train =  pd.read_csv('ParticipantData_BTPC/Train.csv', low_memory = False ,parse_dates = ['date'])
test = pd.read_csv('ParticipantData_BTPC/Test.csv', low_memory = False ,parse_dates = ['date'])

print(f'Shape of train data: {train.shape}')
print(f'Shape of test data: {test.shape}')

Shape of train data: (5429, 9)
Shape of test data: (2327, 8)

In [7]:
## Create a column with split identifier

train['split_ID'] = 'Train'
test['split_ID'] = 'Test'

all_df = pd.concat([train, test])

In [8]:
print(f'Shape of combined dataframe: {all_df.shape}')
display(all_df.head())

Shape of combined dataframe: (7756, 10)

                         session_id  session_number                                       client_agent      device_details       date  purchased  added_in_cart  checked_out  time_spent split_ID
0  57f879e70d3c5fc2a98102d64c9fd84e             715  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...    Desktop - Chrome 2020-01-22          1              0            0     236.886    Train
1  a5442b0c7c33d0a811e7661e556b2de8              55                           Product/8.0 iPhone/8.1.3        iPhone - iOS 2020-02-27          1              0            0    1277.455    Train
2  305cb1486ed8610c00b37007926cb2c4              11  Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...  iPhone - MobileWeb 2019-08-01          0              0            0      21.704    Train
3  f2c1ecc9993f0071df91ba178450498c            2794  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...        Desktop - IE 2019-12-30          0              1            0     455.201    Train
4  e460830ae295e55d2216ebdc761ab9a6            3674  Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...        iPhone - Web 2019-09-10          0              0            0    1164.877    Train

### Adding datetime features
Add datetime features such as `year`, `quarter`, `weekofyear`, `month`, `day`, `hour`, `minute`, `dayofyear`, `dayofweek` and `is_season`. Values in `season` are like 1, 2, 3, 4. For e.g. 1 represents Dec, Jan and Feb and 2 is March, April and May. 

Quick reference: `{1:'DJF', 2: 'MAM', 3:'JJA', 4:'SON'}`

In [9]:
all_df['year'] = pd.to_datetime(all_df['date']).dt.year
all_df['quarter'] = pd.to_datetime(all_df['date']).dt.quarter
all_df['weekofyear'] = pd.to_datetime(all_df['date']).dt.weekofyear
all_df['month'] = pd.to_datetime(all_df['date']).dt.month
all_df['day'] = pd.to_datetime(all_df['date']).dt.day
all_df['hour'] = pd.to_datetime(all_df['date']).dt.hour
all_df['minute'] = pd.to_datetime(all_df['date']).dt.minute
all_df['dayofyear'] = pd.to_datetime(all_df['date']).dt.dayofyear
all_df['dayofweek'] = pd.to_datetime(all_df['date']).dt.dayofweek
all_df['is_weekend'] = np.where(all_df['dayofweek'].isin([6, 0]), 1, 0)
all_df['season'] = ((all_df['month'] % 12 + 3) // 3)

### Adding a column to store rows where `client_agent` is null

In [10]:
## Create a new column for cases where `client_agent` is null
all_df['ca_isna'] = np.where(all_df['client_agent'].isnull(), 1, 0)

### Column with count of `client_agent` and `device_details` by date

In [11]:
all_df = all_df.fillna('')
ca_bydate_count = (all_df
                   .fillna('')
                   .groupby(['client_agent', 
                             'device_details',
                             'split_ID', 
                             'date'])
                   .size()
                   .to_frame('ca_bydate_count')
                   .reset_index())

all_df = all_df.merge(ca_bydate_count, 
                      on = ['client_agent',
                            'device_details',
                            'split_ID', 
                            'date'],
                      how = 'left')

display(all_df[['client_agent', 'device_details', 'ca_bydate_count']].drop_duplicates())

                                           client_agent      device_details  ca_bydate_count
0     Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...    Desktop - Chrome                1
1                              Product/8.0 iPhone/8.1.3        iPhone - iOS                2
2     Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...  iPhone - MobileWeb                1
3     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...        Desktop - IE                1
4     Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...        iPhone - Web                6
...                                                 ...                 ...              ...
7722  Mozilla/5.0 (iPad; CPU OS 6_1_3 like Mac OS X)...          iPad - Web                1
7727  Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...        Desktop - IE                1
7735                           Product/2.5.1 iPad/6.1.3          iPad - iOS                1
7742  Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...        iPhone - Web                1
7743  Mozilla/5.0 (iPhone; CPU iPhone OS 8_1_3 like ...  iPhone - MobileWeb                1

[1346 rows x 3 columns]

### Add features based on `client_agent`
1. Clean `client_agent` with `to_repl` dictionary values
2. To achieve the above we will make use of a helper function
3. Create new column for each category of replace we did

In [12]:
## Helper function for replacing values
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

## Helper function to create columns after replacement is done
def get_col(col_type):
    all_df['ca_{}'.format(col_type)] = all_df['ca_updated'].apply(
    lambda x: re.findall('{}//.*?\\\\'.format(col_type), x, flags = re.DOTALL))
    all_df['ca_{}'.format(col_type)] = [' '.join(x) for x in list(all_df['ca_{}'.format(col_type)])]
    all_df['ca_{}'.format(col_type)] = (all_df['ca_{}'.format(col_type)]
                        .str.replace('\\', '')
                        .str.replace('{}//'.format(col_type), '')
                        .str.strip())
    return all_df['ca_{}'.format(col_type)]

In [13]:
to_repl = {'Product/': '\\\Product//',
           'Mozilla/': '\\\Mozilla//',
           'AppleWebKit/': '\\\AppleWebKit//',
           'Chrome/': '\\\Chrome//',
           'Safari/': '\\\Safari//',
           'Mobile/': '\\\Mobile//',
           'iPhone/': '\\\iPhone//',
           'Android/': '\\\Android//',
           'Carrier/': '\\\Carrier//',
           'Type/': '\\\Type//',
           'Device/': '\\\Device//',
           'Gecko/': '\\\Gecko//',
           'iPad/': '\\\iPad//',
           'https://': 'https:/',
           'Typhoeus -': '\\\Typhoeus//',
           'Firefox/': '\\\Firefox//',
           'Opera/': '\\\Opera//',
           'Presto/': '\\\Presto//',
           'CFNetwork/': '\\\CFNetwork//',
           'Darwin/': '\\\Darwin//',
           'CriOS/': '\\\CriOS//',
           'Dalvik/': '\\\Dalvik//',
           'GSA/': '\\\GSA//'}

all_df['ca_updated'] = all_df['client_agent'].apply(lambda x: replace_all(x, to_repl))
all_df['ca_updated'] = all_df['ca_updated'] + '\\\\'
all_df['ca_Product'] = get_col('Product')
all_df['ca_Mozilla'] = get_col('Mozilla')
all_df['ca_AppleWebKit'] = get_col('AppleWebKit')
all_df['ca_Chrome'] = get_col('Chrome')
all_df['ca_Safari'] = get_col('Safari')
all_df['ca_Mobile'] = get_col('Mobile')
all_df['ca_iPhone'] = get_col('iPhone')
all_df['ca_Android'] = get_col('Android')
all_df['ca_Carrier'] = get_col('Carrier')
all_df['ca_Type'] = get_col('Type')
all_df['ca_Device'] = get_col('Device')
all_df['ca_Gecko'] = get_col('Gecko')
all_df['ca_iPad'] = get_col('iPad')
all_df['ca_Typhoeus'] = get_col('Typhoeus')
all_df['ca_Firefox'] = get_col('Firefox')
all_df['ca_Opera'] = get_col('Opera')
all_df['ca_Presto'] = get_col('Presto')
all_df['ca_CFNetwork'] = get_col('CFNetwork')
all_df['ca_Darwin'] = get_col('Darwin')
all_df['ca_CriOS'] = get_col('CriOS')
all_df['ca_Dalvik'] = get_col('Dalvik')
all_df['ca_GSA'] = get_col('GSA')
all_df['ca_Chrome'] = all_df['ca_Chrome'].str.replace('Mobile', '')

In [14]:
## Dropping `ca_updated` column
all_df.drop(['ca_updated'], axis = 1, inplace = True)

## Value counts of parsed columns
new_cols = list(all_df.select_dtypes(include = 'O').filter(like = 'ca_', axis = 1).columns)
# new_cols = new_cols[3:]
for col in new_cols:
    print('Value counts in {}:'.format(col)) 
    display(pd.DataFrame([all_df[col].value_counts(ascending = False).head(20), 
                          all_df[col].value_counts(normalize = True, ascending = False).head(20)],
                         index = ['VC', 'Norm_VC']).T)

Value counts in ca_Product:

            VC   Norm_VC
        4817.0  0.621068
4.7.0    387.0  0.049897
4.2.0    284.0  0.036617
4.1.1    205.0  0.026431
4.0.0    175.0  0.022563
6.0      174.0  0.022434
4.6.0    168.0  0.021661
4.4.1    154.0  0.019856
4.2.2    138.0  0.017793
4.5.1    111.0  0.014312
5.0       88.0  0.011346
3.6.1     85.0  0.010959
9.0       77.0  0.009928
4.3.1     73.0  0.009412
8.0       62.0  0.007994
4.1.0     62.0  0.007994
7.0       53.0  0.006833
3.6.0     49.0  0.006318
3.3.1     45.0  0.005802
150264    38.0  0.004899

Value counts in ca_Mozilla:

                                                        VC   Norm_VC
                                                    3221.0  0.415291
5.0 (Windows NT 6.1; WOW64)                          419.0  0.054023
5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X)      337.0  0.043450
5.0 (Windows NT 6.3; WOW64; Trident/7.0; Touch;...   241.0  0.031073
5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11....   225.0  0.029010
5.0 (iPhone; CPU iPhone OS 8_1 like Mac OS X)        201.0  0.025915
5.0 (Macintosh; Intel Mac OS X 10_9_5)               183.0  0.023595
5.0 (Macintosh; Intel Mac OS X 10_6_8)               182.0  0.023466
5.0 (iPhone; CPU iPhone OS 8_1_2 like Mac OS X)      159.0  0.020500
5.0 (Macintosh; Intel Mac OS X 10_9_4)               124.0  0.015988
5.0 (Windows NT 6.3; WOW64)                          116.0  0.014956
5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X)      114.0  0.014698
5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW6...    99.0  0.012764
5.0 (Macintosh; Intel Mac OS X 10_7_5)                96.0  0.012378
5.0 (iPhone; CPU iPhone OS 7_0_2 like Mac OS X)       85.0  0.010959
5.0 (Linux; Android 4.3; GT-I9505 Build/JSS15J)       84.0  0.010830
5.0 (iPhone; CPU iPhone OS 8_1_1 like Mac OS X)       84.0  0.010830
5.0 (Windows NT 6.1)                                  76.0  0.009799
5.0 (iPad; CPU OS 8_0_2 like Mac OS X)                76.0  0.009799
5.0 (iPad; CPU OS 7_1_2 like Mac OS X)                72.0  0.009283

Value counts in ca_AppleWebKit:

                                                   VC   Norm_VC
                                               4287.0  0.552733
537.36 (KHTML, like Gecko)                     1261.0  0.162584
600.1.4 (KHTML, like Gecko)                     396.0  0.051057
537.51.2 (KHTML, like Gecko)                    355.0  0.045771
600.1.4 (KHTML, like Gecko) Version/8.0         329.0  0.042419
537.51.2 (KHTML, like Gecko) Version/7.0        266.0  0.034296
537.51.1 (KHTML, like Gecko) Version/7.0        162.0  0.020887
537.51.1 (KHTML, like Gecko)                     78.0  0.010057
534.59.10 (KHTML, like Gecko) Version/5.1.9      63.0  0.008123
534.57.2 (KHTML, like Gecko) Version/5.1.7       47.0  0.006060
537.31 (KHTML, like Gecko)                       36.0  0.004642
536.26 (KHTML, like Gecko)                       35.0  0.004513
600.2.5 (KHTML, like Gecko) Version/8.0.2        34.0  0.004384
537.76.4 (KHTML, like Gecko) Version/7.0.4       30.0  0.003868
600.1.25 (KHTML, like Gecko) Version/8.0         29.0  0.003739
537.78.2 (KHTML, like Gecko) Version/7.0.6       28.0  0.003610
534.30 (KHTML, like Gecko) Version/4.0 Mobile    27.0  0.003481
537.78.2 (KHTML, like Gecko) Version/6.1.6       25.0  0.003223
600.1.17 (KHTML, like Gecko) Version/7.1         21.0  0.002708
600.2.5 (KHTML, like Gecko) Version/7.1.2        20.0  0.002579

Value counts in ca_Chrome:

                    VC   Norm_VC
                6416.0  0.827231
39.0.2171.95     186.0  0.023981
35.0.1916.153    109.0  0.014054
38.0.2125.111    103.0  0.013280
37.0.2062.124     79.0  0.010186
40.0.2214.115     70.0  0.009025
36.0.1985.143     69.0  0.008896
39.0.2171.71      61.0  0.007865
38.0.2125.104     45.0  0.005802
36.0.1985.125     41.0  0.005286
37.0.2062.94      41.0  0.005286
26.0.1410.40      35.0  0.004513
37.0.2062.117     35.0  0.004513
40.0.2214.111     35.0  0.004513
38.0.2125.122     33.0  0.004255
41.0.2272.89      27.0  0.003481
35.0.1916.114     26.0  0.003352
37.0.2062.120     23.0  0.002965
37.0.2062.103     22.0  0.002837
38.0.2125.114     21.0  0.002708

Value counts in ca_Safari:

               VC   Norm_VC
           5106.0  0.658329
537.36     1302.0  0.167870
9537.53     452.0  0.058277
600.1.4     345.0  0.044482
534.59.10    63.0  0.008123
537.78.2     53.0  0.006833
534.57.2     47.0  0.006060
537.76.4     40.0  0.005157
537.31       36.0  0.004642
600.2.5      34.0  0.004384
534.30       33.0  0.004255
600.1.25     29.0  0.003739
537.77.4     27.0  0.003481
8536.25      26.0  0.003352
537.85.10    22.0  0.002837
537.85.11    21.0  0.002708
537.75.14    19.0  0.002450
537.71       16.0  0.002063
600.3.18     13.0  0.001676
536.30.1     12.0  0.001547

Value counts in ca_Mobile:

             VC   Norm_VC
         6106.0  0.787261
11D201    372.0  0.047963
12B411    197.0  0.025400
12B440    180.0  0.023208
11D257    174.0  0.022434
12A405    135.0  0.017406
11A501     86.0  0.011088
12B436     67.0  0.008638
11B554a    65.0  0.008381
12B466     60.0  0.007736
11D167     56.0  0.007220
11B651     39.0  0.005028
12B435     38.0  0.004899
11B511     29.0  0.003739
10B350     22.0  0.002837
10B329     20.0  0.002579
12D508     16.0  0.002063
12A365     14.0  0.001805
12B410     12.0  0.001547
11A466      7.0  0.000903

Value counts in ca_iPhone:

           VC   Norm_VC
       5490.0  0.707839
7.1.1   516.0  0.066529
8.1     353.0  0.045513
8.1.2   282.0  0.036359
7.1.2   261.0  0.033651
8.1.3   245.0  0.031588
7.0.2   121.0  0.015601
8.1.1   110.0  0.014183
8.0.2   110.0  0.014183
7.0.4   103.0  0.013280
8.2      59.0  0.007607
6.1.4    41.0  0.005286
7.1      33.0  0.004255
8.0      22.0  0.002837
7.0.6     3.0  0.000387
5.1.1     3.0  0.000387
7.0.5     2.0  0.000258
6.1.3     1.0  0.000129
7.0       1.0  0.000129

Value counts in ca_Android:

           VC   Norm_VC
       7289.0  0.939789
4.4.2   137.0  0.017664
5.0      82.0  0.010572
4.2.2    77.0  0.009928
4.3      76.0  0.009799
4.4.4    36.0  0.004642
4.1.1    34.0  0.004384
4.1.2    12.0  0.001547
4.4.3    10.0  0.001289
5.0.1     3.0  0.000387

Value counts in ca_Carrier:

                    VC   Norm_VC
                7291.0  0.940046
YES OPTUS        226.0  0.029139
3                 56.0  0.007220
StarHub           32.0  0.004126
None              26.0  0.003352
amaysim           25.0  0.003223
Telstra Mobile    20.0  0.002579
Vodafone AU       15.0  0.001934
TELKOMSEL          9.0  0.001160
INDOSAT            8.0  0.001031
Free               8.0  0.001031
2degrees           7.0  0.000903
Optus              6.0  0.000774
MY MAXIS           6.0  0.000774
Virgin Mobile      5.0  0.000645
I WIND             3.0  0.000387
dtac               2.0  0.000258
3 ITA              2.0  0.000258
Lycamobile         2.0  0.000258
Far EasTone        1.0  0.000129

Value counts in ca_Type:

            VC   Norm_VC
        7287.0  0.939531
Mobile   451.0  0.058149
Tablet    14.0  0.001805
WIFI       4.0  0.000516

Value counts in ca_Device:

                           VC   Norm_VC
                       7291.0  0.940046
LGE_LG-D855              87.0  0.011217
samsung_GT-I9195         76.0  0.009799
samsung_SM-G900F         67.0  0.008638
samsung_GT-I9305         40.0  0.005157
asus_PadFone             34.0  0.004384
samsung_SM-N910G         29.0  0.003739
samsung_GT-N7105         23.0  0.002965
samsung_GT-I9505         16.0  0.002063
samsung_GT-I9100         12.0  0.001547
samsung_SM-N7505         11.0  0.001418
samsung_SM-G900I         11.0  0.001418
samsung_GT-I9300         11.0  0.001418
HTC_HTC_PN071            10.0  0.001289
HUAWEI_HUAWEI G6-L11      7.0  0.000903
Lenovo_Lenovo A5500-H     7.0  0.000903
Sony_D6653                7.0  0.000903
HTC_HTC_0P4E2             6.0  0.000774
LGE_Nexus 5               4.0  0.000516
samsung_SM-N9005          3.0  0.000387

Value counts in ca_Gecko:

              VC   Norm_VC
          7410.0  0.955389
20100101   328.0  0.042290
30.0        13.0  0.001676
35.0         2.0  0.000258
34.0         2.0  0.000258
31.0         1.0  0.000129

Value counts in ca_iPad:

           VC   Norm_VC
       7635.0  0.984399
8.1.2    29.0  0.003739
8.1.3    27.0  0.003481
7.1.2    23.0  0.002965
8.0      12.0  0.001547
6.1.3     8.0  0.001031
8.2       7.0  0.000903
8.0.2     5.0  0.000645
8.1.1     5.0  0.000645
7.0.6     2.0  0.000258
7.1       2.0  0.000258
7.1.1     1.0  0.000129

Value counts in ca_Typhoeus:

                                         VC   Norm_VC
                                     7715.0  0.994714
https:/github.com/typhoeus/typhoeus    41.0  0.005286

Value counts in ca_Firefox:

                                                VC   Norm_VC
                                            7410.0  0.955389
32.0                                          86.0  0.011088
30.0                                          51.0  0.006576
34.0                                          42.0  0.005415
31.0                                          42.0  0.005415
33.0                                          42.0  0.005415
35.0                                          33.0  0.004255
29.0                                          22.0  0.002837
36.0                                           9.0  0.001160
16.0                                           6.0  0.000774
25.0                                           3.0  0.000387
24.0                                           2.0  0.000258
28.0 swrinfo: 3210:civmec.local:rohit.roy;     2.0  0.000258
7.0.1                                          1.0  0.000129
21.0                                           1.0  0.000129
12.0                                           1.0  0.000129
17.0                                           1.0  0.000129
4.0                                            1.0  0.000129
10.0 (Chrome)                                  1.0  0.000129

Value counts in ca_Opera:

                                             VC   Norm_VC
                                         7746.0  0.998711
9.80 (Macintosh; Intel Mac OS X 10.7.5)    10.0  0.001289

Value counts in ca_Presto:

                            VC   Norm_VC
                        7746.0  0.998711
2.12.388 Version/12.16    10.0  0.001289

Value counts in ca_CFNetwork:

              VC   Norm_VC
          7670.0  0.988912
711.1.12    35.0  0.004513
711.1.16    21.0  0.002708
672.1.15    11.0  0.001418
672.0.2      8.0  0.001031
711.0.6      5.0  0.000645
609.1.4      3.0  0.000387
454.12.4     1.0  0.000129
548.1.4      1.0  0.000129
672.0.8      1.0  0.000129

Value counts in ca_Darwin:

                                     VC   Norm_VC
                                 7670.0  0.988912
14.0.0                             81.0  0.010444
13.0.0                              3.0  0.000387
10.8.0 (i386) (MacBookPro7%2C1)     1.0  0.000129
11.0.0                              1.0  0.000129

Value counts in ca_CriOS:

                  VC   Norm_VC
              7745.0  0.998582
40.0.2214.69     5.0  0.000645
36.0.1985.49     2.0  0.000258
39.0.2171.50     2.0  0.000258
37.0.2062.52     1.0  0.000129
38.0.2125.67     1.0  0.000129

Value counts in ca_Dalvik:

                                                        VC   Norm_VC
                                                    7755.0  0.999871
2.1.0 (Linux; U; Android 5.0; LG-D855 Build/LRX...     1.0  0.000129

Value counts in ca_GSA:

                 VC   Norm_VC
             7720.0  0.995358
5.2.43972      11.0  0.001418
4.2.2.38484     9.0  0.001160
5.1.42378       7.0  0.000903
3.2.1.25875     5.0  0.000645
4.2.1.37597     2.0  0.000258
4.1.0.31802     2.0  0.000258

### Further cleaning those `ca_*` columns added
1. `ca_Product`: Replacing *'.'* and get first element, replace NAs with UNK
2. `ca_AppleWebKit`: Split by *'/'* and get first element and then replace *' (KHTML, like Gecko)'*, *'(KHTML, like Gecko)'* and *'version'* with blanks. Split by *'.'* and get first element, replace NAs with UNK. Here NAs were converted to *'nan'* when we used `.astype(str)` method.
3. `ca_Mozilla`: Most of the rows have a pattern and use those to clean this column further.
4. `ca_Chrome` and `ca_Safari`: Take only first two part of the versions captured in these columns.
5. `ca_Mobile` and `ca_iPhone`: These again have a pattern i.e. one is available when other is not and yes there are rows where both of these are nulls as well. Added a column to capture that.

In [15]:
## ca_Product
all_df['ca_Product'] = all_df['ca_Product'].str.split('.').str[0].fillna('UNK')
print('Value counts in ca_Product')
display(all_df['ca_Product'].value_counts(dropna = False))

Value counts in ca_Product

          4817
4         1769
3          194
6          174
5           88
9           77
8           62
7           53
150264      38
150288      34
150261      30
160346      27
160362      25
160402      23
160441      22
160432      21
160379      19
160393      18
160406      18
245         18
252         17
160320      16
244         15
160326      13
160418      13
150287      12
160355      11
160318      11
160333      11
150302      10
160314      10
160375      10
160338      10
160309       9
150297       9
160391       7
160447       7
150282       6
160341       5
160330       5
160382       4
160399       3
160387       3
10           3
160360       3
214          2
150259       2
319          1
2            1
Name: ca_Product, dtype: int64

In [16]:
## ca_AppleWebKit
all_df['ca_AppleWebKit'] = (all_df['ca_AppleWebKit'].astype(str)
                            .str.split('/')
                            .str[0]
                            .str.replace(' (KHTML, like Gecko)','', regex = False)
                            .str.replace('(KHTML, like Gecko)', '', regex = False)
                            .str.lower().str.replace('version', '')
                            .str.strip()
                            .str.split('.')
                            .str[0]
                            .str.replace('nan', 'UNK'))
print('Value counts in ca_AppleWebKit')
display(all_df['ca_AppleWebKit'].value_counts(dropna = False))

Value counts in ca_AppleWebKit

       4287
537    2360
600     860
534     168
536      74
533       5
535       2
Name: ca_AppleWebKit, dtype: int64

In [17]:
# ca_Mozilla
suff = []
for row in list(all_df['ca_Mozilla'].fillna('')):
    if (('5.0' in row.lower()) and ('windows nt' in row.lower())):
        suff.append('5.0 Windows NT')
    elif (('5.0' in row.lower()) and ('iphone' in row.lower())):
        suff.append('5.0 iPhone')
    elif (('5.0' in row.lower()) and ('mac os' in row.lower())):
        suff.append('5.0 Mac OS')
    else:
        suff.append('UNK')
all_df['ca_Mozilla'] = pd.Series(suff)

print('Value counts in ca_Mozilla')
display(all_df['ca_Mozilla'].value_counts(dropna = False))

Value counts in ca_Mozilla

UNK               3471
5.0 Windows NT    1617
5.0 Mac OS        1431
5.0 iPhone        1237
Name: ca_Mozilla, dtype: int64

In [18]:
# ca_Chrome and ca_Safari
all_df['ca_Chrome'] = all_df['ca_Chrome'].str[:2].str.strip().fillna('UNK')
all_df['ca_Safari'] = all_df['ca_Safari'].str.split('.').str[0].fillna('UNK')

print('Value counts in ca_Chrome and ca_Safari')
display(all_df['ca_Chrome'].value_counts(dropna = False), all_df['ca_Safari'].value_counts(dropna = False))

Value counts in ca_Chrome and ca_Safari

      6416
39     289
38     236
37     219
40     170
35     138
36     118
41      74
26      36
32      19
30      14
28      11
33       5
34       4
42       2
29       2
18       2
27       1
Name: ca_Chrome, dtype: int64

        5106
537     1553
9537     452
600      423
534      150
8536      26
536       20
533       13
7534      10
535        2
6533       1
Name: ca_Safari, dtype: int64

In [19]:
## ca_Mobile and ca_iPhone
all_df.loc[(all_df['ca_Mobile'] != '') & (all_df['ca_Mobile'].str.len() < 6), 'ca_Mobile'] = all_df['ca_Mobile'].str.zfill(6)
all_df['ca_Mobile'] = all_df['ca_Mobile'].str[:6].str.strip()
all_df.loc[all_df['ca_iPhone'] != '', 'ca_iPhone'] = all_df['ca_iPhone'].str[:1].str.strip()

all_df['ca_Mobile_iPhone'] = np.NaN
all_df.loc[(all_df['ca_iPhone'] != '') & (all_df['ca_Mobile'] == ''), 'ca_Mobile_iPhone'] = all_df['ca_iPhone']
all_df.loc[(all_df['ca_iPhone'] == '') & (all_df['ca_Mobile'] != ''), 'ca_Mobile_iPhone'] = all_df['ca_Mobile']
all_df['ca_Mobile_iPhone'] = all_df['ca_Mobile_iPhone'].fillna('UNK')
del all_df['ca_Mobile'], all_df['ca_iPhone']

print('Value counts in ca_Mobile_iPhone column created')
display(all_df['ca_Mobile_iPhone'].value_counts(dropna = False))

Value counts in ca_Mobile_iPhone column created

UNK       3840
8         1181
7         1040
11D201     372
12B411     201
11D257     186
12B440     182
12A405     135
11A501      86
12B436      67
11B554      65
12B466      63
11D167      56
6           42
11B651      39
12B435      38
11B511      29
10B350      22
10B329      21
12A365      20
12D508      16
12B410      12
11A465       9
09B176       7
11A466       7
11D169       5
10A523       4
5            3
09B206       3
11B601       3
10B141       1
10B146       1
Name: ca_Mobile_iPhone, dtype: int64

In [20]:
display(all_df.head())

,session_id,session_number,client_agent,device_details,date,purchased,added_in_cart,checked_out,time_spent,split_ID,year,quarter,weekofyear,month,day,hour,minute,dayofyear,dayofweek,is_weekend,season,ca_isna,ca_bydate_count,ca_Product,ca_Mozilla,ca_AppleWebKit,ca_Chrome,ca_Safari,ca_Android,ca_Carrier,ca_Type,ca_Device,ca_Gecko,ca_iPad,ca_Typhoeus,ca_Firefox,ca_Opera,ca_Presto,ca_CFNetwork,ca_Darwin,ca_CriOS,ca_Dalvik,ca_GSA,ca_Mobile_iPhone
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2020-01-22,1,0,0,236.886,Train,2020,1,4,1,22,0,0,22,2,0,1,0,1,,5.0 Windows NT,537,40,537,,,,,,,,,,,,,,,,UNK
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,iPhone - iOS,2020-02-27,1,0,0,1277.455,Train,2020,1,9,2,27,0,0,58,3,0,1,0,2,8,UNK,,,,,,,,,,,,,,,,,,,8
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,iPhone - MobileWeb,2019-08-01,0,0,0,21.704,Train,2019,3,31,8,1,0,0,213,3,0,3,0,1,,5.0 iPhone,537,,,,,,,,,,,,,,,,,,11D257
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Desktop - IE,2019-12-30,0,1,0,455.201,Train,2019,4,1,12,30,0,0,364,0,1,1,0,1,,5.0 Windows NT,,,,,,,,,,,,,,,,,,,UNK
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,iPhone - Web,2019-09-10,0,0,0,1164.877,Train,2019,3,37,9,10,0,0,253,1,0,4,0,6,,5.0 iPhone,537,,,,,,,,,,,,,,,,,,11D201

### Label Encoding
Columns label encoded
- `ca_Product`, 
- `ca_Mozilla` 
- `ca_AppleWebKit` 
- `ca_Chrome` 
- `ca_Safari` 
- `ca_Android` 
- `ca_Carrier` 
- `ca_Type` 
- `ca_Device` 
- `ca_Gecko` 
- `ca_iPad` 
- `ca_Typhoeus` 
- `ca_Firefox` 
- `ca_Opera` 
- `ca_Presto` 
- `ca_CFNetwork` 
- `ca_Darwin` 
- `ca_CriOS` 
- `ca_Dalvik` 
- `ca_GSA` 
- `ca_Mobile_iPhone` 
- `device_details`

We would be also dropping these columns from all_df dataframe

In [21]:
le_cols = list(all_df.select_dtypes(include = 'O').filter(regex = 'ca_', axis = 1).columns)
le_cols.extend(['device_details'])

for col in le_cols:
    print(f'Label Encoded Col: {col}')
    LE = preprocessing.LabelEncoder()
    all_df[col + '_enc_le'] = LE.fit_transform(all_df[col].astype(str))
    display(pd.DataFrame([all_df[col], all_df[col + '_enc_le']], index = ['Values', 'LE Values']).T.drop_duplicates())
    all_df.drop(col, axis = 1, inplace = True)

Label Encoded Col: ca_Product

      Values LE Values
0                    0
1          8        47
5     160402        30
8          4        43
18         7        46
23    160441        34
28         3        41
33         6        45
50    160338        17
82    160333        16
84         5        44
90    150288         7
99    160318        12
113   160391        27
131   160326        14
164   160447        35
169   150302         9
187   160406        31
243   160346        19
249   150264         4
275        9        48
294   160355        20
334      245        39
364      244        38
390   150287         6
480   150261         3
500   160432        33
535   160362        22
552   160320        13
570   160418        32
616   160379        24
756   160375        23
789      252        40
865   160393        28
1153  160399        29
1155  160382        25
1231  150282         5
1245  150297         8
1293  160309        10
1368  160387        26
1642  160314        11
1741  160341        18
1771     319        42
1792      10         1
3038  160360        21
3522  160330        15
3891     214        37
4365  150259         2
7735       2        36

Label Encoded Col: ca_Mozilla

            Values LE Values
0   5.0 Windows NT         1
1              UNK         3
2       5.0 iPhone         2
13      5.0 Mac OS         0

Label Encoded Col: ca_AppleWebKit

     Values LE Values
0       537         5
1                   0
20      536         4
21      600         6
32      534         2
1222    533         1
4091    535         3

Label Encoded Col: ca_Chrome

     Values LE Values
0        40        15
1                   0
15       39        14
26       37        12
38       35        10
59       41        16
63       38        13
124      42        17
137      36        11
139      32         7
272      26         2
410      30         6
461      28         4
1056     33         8
2023     27         3
2354     34         9
3102     29         5
4091     18         1

Label Encoded Col: ca_Safari

     Values LE Values
0       537         5
1                   0
20      536         4
24      600         6
31     9537        10
32      534         2
96     8536         9
495    6533         7
1222    533         1
1514   7534         8
4091    535         3

Label Encoded Col: ca_Android

    Values LE Values
0                  0
5      5.0         8
50     4.3         4
82   4.4.2         5
90   4.2.2         3
113  5.0.1         9
131  4.4.3         6
270  4.1.1         1
500  4.1.2         2
746  4.4.4         7

Label Encoded Col: ca_Carrier

              Values LE Values
0                            0
5          YES OPTUS        21
50    Telstra Mobile        18
82           INDOSAT         9
90                 3         2
99       Vodafone AU        20
138             None        12
249          amaysim        22
294            Optus        13
480          StarHub        16
500        TELKOMSEL        17
1200            Free         6
1299   Virgin Mobile        19
1300      Lycamobile        10
1370          I WIND         8
1642     Si.Vodafone        14
1854        MY MAXIS        11
2077            ä¸­è¯é›»ä¿¡        25
2124            dtac        23
2603     Far EasTone         5
3151        2degrees         1
4704           Smart        15
4793             CSL         4
5406           3 ITA         3
5448     vodafone AU        24
5743           Globe         7

Label Encoded Col: ca_Type

     Values LE Values
0                   0
5    Mobile         1
552  Tablet         2
652    WIFI         3

Label Encoded Col: ca_Device

                     Values LE Values
0                                   0
5               LGE_LG-D855         5
50         samsung_GT-I9505        14
82         samsung_SM-N7505        19
90         samsung_GT-I9195        11
99            HTC_HTC_0P4E2         2
113             LGE_Nexus 5         6
131           HTC_HTC_PN071         3
169        samsung_GT-N7105        15
243    HUAWEI_HUAWEI G6-L11         4
249        samsung_SM-G900F        17
270            asus_PadFone         9
474          HTC_HTC One XL         1
500        samsung_GT-I9100        10
570        samsung_SM-G900I        18
616        samsung_GT-I9305        13
746        samsung_SM-N910G        21
865   Lenovo_Lenovo A5500-H         7
1159       samsung_SM-N9005        20
1200       samsung_GT-I9300        12
1854             Sony_D6653         8
3000      samsung_SHV-E250K        16

Label Encoded Col: ca_Gecko

        Values LE Values
0                      0
6     20100101         1
102       30.0         2
126       35.0         5
2429      34.0         4
2652      31.0         3

Label Encoded Col: ca_iPad

     Values LE Values
0                   0
53    7.1.2         5
56    8.1.3        10
91    8.0.2         7
231   8.1.2         9
1052    8.0         6
1086  8.1.1         8
2352    8.2        11
2358  6.1.3         1
4588  7.0.6         2
6269    7.1         3
7219  7.1.1         4

Label Encoded Col: ca_Typhoeus

                                 Values LE Values
0                                               0
92  https:/github.com/typhoeus/typhoeus         1

Label Encoded Col: ca_Firefox

                                          Values LE Values
0                                                        0
6                                           30.0        10
47                                          34.0        14
71                                          29.0         9
72                                          31.0        11
73                                          33.0        13
105                                         24.0         6
126                                         35.0        15
308                                         32.0        12
770                                         16.0         3
898                                        7.0.1        18
986                                         36.0        16
1205                                        25.0         7
2830  28.0 swrinfo: 3210:civmec.local:rohit.roy;         8
3008                                        21.0         5
3296                                        12.0         2
3339                                        17.0         4
4023                                         4.0        17
6889                               10.0 (Chrome)         1

Label Encoded Col: ca_Opera

                                      Values LE Values
0                                                    0
120  9.80 (Macintosh; Intel Mac OS X 10.7.5)         1

Label Encoded Col: ca_Presto

                     Values LE Values
0                                   0
120  2.12.388 Version/12.16         1

Label Encoded Col: ca_CFNetwork

        Values LE Values
0                      0
290   711.1.12         8
334   711.1.16         9
495   454.12.4         1
624   672.1.15         6
721    711.0.6         7
1202   609.1.4         3
1252   548.1.4         2
1454   672.0.2         4
2311   672.0.8         5

Label Encoded Col: ca_Darwin

                               Values LE Values
0                                             0
290                            14.0.0         4
495   10.8.0 (i386) (MacBookPro7%2C1)         1
1202                           13.0.0         3
1252                           11.0.0         2

Label Encoded Col: ca_CriOS

            Values LE Values
0                          0
915   40.0.2214.69         5
1632  36.0.1985.49         1
1665  37.0.2062.52         2
3117  38.0.2125.67         3
5744  39.0.2171.50         4

Label Encoded Col: ca_Dalvik

                                                 Values LE Values
0                                                               0
2916  2.1.0 (Linux; U; Android 5.0; LG-D855 Build/LR...         1

Label Encoded Col: ca_GSA

           Values LE Values
0                         0
460     5.2.43972         6
827   3.2.1.25875         1
1066    5.1.42378         5
1339  4.2.2.38484         4
2682  4.2.1.37597         3
6019  4.1.0.31802         2

Label Encoded Col: ca_Mobile_iPhone

      Values LE Values
0        UNK        31
1          8        30
2     11D257        17
4     11D201        16
17         7        29
21    12B411        21
24    12A405        19
34    11D167        14
44    12B436        23
48    11B651        13
52    12B440        24
77    12B466        25
96    10A523         2
101   10B350         6
117   11B554        11
166   12A365        18
172   10B329         5
197   12B435        22
212        6        28
213   12B410        20
266   11A501         9
288   11B511        10
557   11A465         7
662   11D169        15
1241       5        27
1514  09B176         0
1949  11A466         8
2223  09B206         1
2521  12D508        26
2716  10B141         3
5477  11B601        12
7197  10B146         4

Label Encoded Col: device_details

                          Values LE Values
0               Desktop - Chrome         6
1                   iPhone - iOS        16
2             iPhone - MobileWeb        14
3                   Desktop - IE         8
4                   iPhone - Web        15
5        Android Phone - Android         0
6              Desktop - Firefox         7
7           Android Tablet - Web         5
13                    iPad - Web        12
19                 Other - Other        10
20              Desktop - Safari         9
32           Android Phone - Web         2
53                    iPad - iOS        13
130    Android Phone - MobileWeb         1
193          Unknown - MobileWeb        11
552     Android Tablet - Android         3
1789  Android Tablet - MobileWeb         4

 ### Get a view of dataframe after feature engineering

In [22]:
print(f'Shape of combined dataframe after feature engineering: {all_df.shape}')
display(all_df.head())

Shape of combined dataframe after feature engineering: (7756, 44)

,session_id,session_number,client_agent,date,purchased,added_in_cart,checked_out,time_spent,split_ID,year,quarter,weekofyear,month,day,hour,minute,dayofyear,dayofweek,is_weekend,season,ca_isna,ca_bydate_count,ca_Product_enc_le,ca_Mozilla_enc_le,ca_AppleWebKit_enc_le,ca_Chrome_enc_le,ca_Safari_enc_le,ca_Android_enc_le,ca_Carrier_enc_le,ca_Type_enc_le,ca_Device_enc_le,ca_Gecko_enc_le,ca_iPad_enc_le,ca_Typhoeus_enc_le,ca_Firefox_enc_le,ca_Opera_enc_le,ca_Presto_enc_le,ca_CFNetwork_enc_le,ca_Darwin_enc_le,ca_CriOS_enc_le,ca_Dalvik_enc_le,ca_GSA_enc_le,ca_Mobile_iPhone_enc_le,device_details_enc_le
0,57f879e70d3c5fc2a98102d64c9fd84e,715,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,2020-01-22,1,0,0,236.886,Train,2020,1,4,1,22,0,0,22,2,0,1,0,1,0,1,5,15,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31,6
1,a5442b0c7c33d0a811e7661e556b2de8,55,Product/8.0 iPhone/8.1.3,2020-02-27,1,0,0,1277.455,Train,2020,1,9,2,27,0,0,58,3,0,1,0,2,47,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30,16
2,305cb1486ed8610c00b37007926cb2c4,11,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like ...,2019-08-01,0,0,0,21.704,Train,2019,3,31,8,1,0,0,213,3,0,3,0,1,0,2,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,14
3,f2c1ecc9993f0071df91ba178450498c,2794,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,2019-12-30,0,1,0,455.201,Train,2019,4,1,12,30,0,0,364,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31,8
4,e460830ae295e55d2216ebdc761ab9a6,3674,Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like ...,2019-09-10,0,0,0,1164.877,Train,2019,3,37,9,10,0,0,253,1,0,4,0,6,0,2,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,16,15

### Here's a quick recap
We added:
- Datetime features
- Column to store rows where client_agent is null
- Column with count of client_agent and device_details by date
- Features based on client_agent
And done:
- Label encode string columns

Please UPVOTE ðŸ‘